@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@font-face {
  font-family: Arial;
  src: url("../fonts/Ariel.ttf"); }
body {
  padding: 0;
  margin: 0; }

/*------------header--------*/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(39, 77, 126, 0.8);
  /*-------------mobile menu---------------*/
  /*-------------END mobile menu---------------*/ }
  header button {
    display: none; }
  header ul.menu {
    display: none; }
  header .left-container nav .list {
    margin: 29px 0 0 40px;
    padding: 0;
    position: absolute; }
    header .left-container nav .list__item {
      display: inline-block;
      list-style: none;
      margin-right: 10px; }
      header .left-container nav .list__item--link {
        padding: 2px 5px;
        text-decoration: none;
        font-family: "Open sans";
        font-weight: 600;
        font-size: 16px;
        color: #fff; }
        header .left-container nav .list__item--link:hover {
          color: #cad6e6;
          border-radius: 50%; }
    header .left-container nav .list .line {
      position: absolute;
      width: 20px;
      left: 0;
      height: 1px;
      background: #cad6e6;
      border-radius: 50%; }
    header .left-container nav .list .active {
      color: #cad6e6; }
  header #logo {
    position: relative;
    width: 150px;
    height: 67px;
    margin: 7px auto; }
    header #logo img {
      width: 150px;
      height: 67px; }
  header .right-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center; }
    header .right-container .social {
      display: inline-block;
      position: relative; }
      header .right-container .social img {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out; }
      header .right-container .social img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3); }
    header .right-container .callMe {
      display: inline-block;
      width: 200px;
      max-height: 20px;
      line-height: 20px;
      padding: 8px 10px;
      border: 3px solid white;
      background: white;
      margin: 0 40px;
      text-align: center;
      border-radius: 3px;
      font-family: "Open sans";
      font-weight: 700;
      font-size: 14px;
      color: #274D7E; }
      header .right-container .callMe a {
        font-family: "Open sans";
        font-weight: 700;
        font-size: 14px;
        color: #274D7E;
        text-decoration: none; }
    header .right-container .callMe:hover {
      border: 3px solid white;
      background: none;
      color: white;
      cursor: pointer; }
      header .right-container .callMe:hover a {
        color: white; }

@media (min-width: 319px) and (max-width: 1280px) {
  header {
    /*-------------mobile menu---------------*/
    /*-------------END mobile menu---------------*/ }
    header .left-container {
      display: none; }
    header ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header ul li {
        cursor: pointer;
        padding: 6px 20px;
        font-size: 48px; }
    header button {
      display: block;
      opacity: 0.6;
      background-color: transparent;
      position: fixed;
      z-index: 2;
      top: 24px;
      left: 24px;
      border: none;
      width: 36px;
      height: 30px;
      outline: none;
      transition: opacity 0.2s ease-out; }
      header button:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        right: auto;
        width: 100%;
        background: linear-gradient(to bottom, #FFFFFF, #FFFFFF 20%, transparent 20%, transparent 40%, #FFFFFF 40%, #FFFFFF 60%, transparent 60%, transparent 80%, #FFFFFF 80%, #FFFFFF 100%);
        transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out; }
      header button:after {
        opacity: 0;
        content: 'x';
        color: white;
        position: absolute;
        top: 16px;
        left: -4px;
        font-family: Arial, sans-serif;
        font-size: 76px;
        line-height: 0;
        transition: opacity 0.4s ease-out; }
      header button:active {
        transform: translateY(2px); }
      header button:hover {
        opacity: 1; }
      .open header button {
        opacity: 1; }
        .open header button:before {
          opacity: 0;
          width: 0; }
        .open header button:after {
          opacity: 1;
          transform: translate3d(0, 0, 0) rotate(360deg);
          transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out; }
    header nav {
      z-index: 1;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      overflow: hidden; }
      header nav:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: rgba(27, 53, 87, 0.98);
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04), translateY(9999px);
        overflow: hidden; }
      .open header nav {
        top: 0; }
        .open header nav:before {
          animation: menu-animation 0.8s ease-out forwards; }
    header ul.menu {
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
      color: white; }
      header ul.menu li {
        opacity: 0;
        text-align: center;
        transform: translate3d(0, 36px, 0); }
        header ul.menu li:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          left: auto;
          background-color: white;
          height: 100%;
          width: 0;
          overflow: hidden;
          transition: width 0.14s ease-out; }
        header ul.menu li:after {
          opacity: 0;
          content: attr(data-text);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          color: #274D7E;
          overflow: hidden;
          transform: translate(-24px, 6px);
          transition: transform 0.1s ease-out, opacity 0.1s ease-out; }
        header ul.menu li:hover:before {
          left: 0;
          right: auto;
          width: 100%; }
        header ul.menu li:hover:after {
          opacity: 1;
          padding: 0 20px;
          transform: translate(0px, 6px);
          transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out; }
        .open header ul.menu li {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
          .open header ul.menu li:nth-child(1) {
            transition-delay: 0.75s; }
          .open header ul.menu li:nth-child(2) {
            transition-delay: 0.85s; }
          .open header ul.menu li:nth-child(3) {
            transition-delay: 0.95s; }
          .open header ul.menu li:nth-child(4) {
            transition-delay: 1.05s; }
          .open header ul.menu li:nth-child(5) {
            transition-delay: 1.15s; } }
@media (min-width: 320px) and (max-width: 1024px) {
  header .right-container .callMe {
    display: none; }
  header .right-container .social {
    margin-right: 20px; } }
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%); }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out; }
  40% {
    transform: scale(0.04) translateY(0); }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px); }
  61% {
    transform: scale(0.04); }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%; }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; } }
/*---------END header--------*/
/*-------------Main photo--------------*/
#main {
  height: 100vh;
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  #main .filter {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient(top, rgba(39, 77, 126, 0.5), rgba(39, 77, 126, 0.6));
    background-image: -webkit-linear-gradient(top, rgba(39, 77, 126, 0.5), rgba(39, 77, 126, 0.6));
    background-image: -o-linear-gradient(top, rgba(39, 77, 126, 0.5), rgba(39, 77, 126, 0.6));
    background-image: -ms-linear-gradient(top, rgba(39, 77, 126, 0.5), rgba(39, 77, 126, 0.6));
    background-image: linear-gradient(top, rgba(39, 77, 126, 0.5), rgba(39, 77, 126, 0.6)); }
    #main .filter .container {
      max-width: 1200px;
      width: 100%;
      margin: auto;
      position: relative; }
      #main .filter .container #subTitle {
        text-align: center;
        margin-top: 78px;
        position: absolute;
        width: 100%; }
        #main .filter .container #subTitle p {
          font-family: "PT serif";
          font-weight: 300;
          font-size: 38px;
          color: rgba(255, 255, 255, 0.71);
          letter-spacing: 2px; }
      #main .filter .container #Title {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 100vh;
        width: 100%; }
        #main .filter .container #Title p {
          font-family: "PT serif";
          font-weight: 600;
          font-size: 82px;
          color: #FFFFFF;
          letter-spacing: 2px;
          line-height: 1.17;
          text-align: center; }
      #main .filter .container h1 {
        font-family: "Open sans";
        font-weight: 300;
        font-size: 34px;
        color: #FFFFFF;
        text-align: center;
        max-width: 1200px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 0 0 10% 0;
        letter-spacing: 1px; }

@media (min-width: 320px) and (max-width: 1024px) {
  #main {
    background-image: url("../img/bg-1-mob2.jpg"); }
    #main .filter .container #subTitle p {
      font-size: 5vh; }
    #main .filter .container #Title p {
      font-size: 6vh; }
    #main .filter .container h1 {
      font-size: 4vh;
      padding: 0 0 128px 0; } }
/*-------------END Main photo--------------*/
/*-----------------About-----------------*/
#about {
  background-color: #e0ecfc;
  width: 100%;
  padding: 150px 0; }
  #about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto; }
    #about .container .about__photo {
      display: flex;
      margin: 0 20px;
      max-width: 560px;
      width: 100%;
      min-height: 560px;
      background: url("../img/about1.jpg") no-repeat;
      background-size: cover;
      position: relative; }
      #about .container .about__photo .social {
        display: inline-block;
        position: relative;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        padding-bottom: 30px; }
        #about .container .about__photo .social img {
          width: 30px;
          height: 30px;
          margin-left: 15px;
          -webkit-transition: all .4s ease-out;
          -moz-transition: all .4s ease-out;
          -o-transition: all .4s ease-out; }
        #about .container .about__photo .social img:hover {
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -o-transform: scale(1.3); }
    #about .container .about__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; }
      #about .container .about__block .about__text {
        text-align: center;
        max-width: 560px;
        margin: 0 20px; }
        #about .container .about__block .about__text h3 {
          font-family: "PT serif";
          font-weight: 600;
          font-size: 42px;
          color: #000; }
        #about .container .about__block .about__text h4 {
          font-family: Arial;
          font-weight: 300;
          font-size: 16px;
          color: #666; }
        #about .container .about__block .about__text .line {
          max-width: 50px;
          width: 100%;
          height: 3px;
          background-color: #666;
          display: block;
          margin: auto; }
        #about .container .about__block .about__text p {
          font-family: "Open Sans";
          font-weight: 300;
          font-size: 20px;
          color: #000;
          line-height: 1.55; }
      #about .container .about__block .about__diplom img {
        max-width: 280px;
        width: 100%; }
    #about .container .price__button {
      display: flex;
      justify-content: center;
      padding: 90px 0 0; }
      #about .container .price__button .callMe {
        display: inline-block;
        width: 480px;
        height: 80px;
        line-height: 80px;
        padding: 8px 10px;
        border: 5px solid #6997d3;
        background: none;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px; }
        #about .container .price__button .callMe a {
          font-family: "PT serif";
          font-weight: 700;
          font-size: 26px;
          color: #6997d3;
          text-decoration: none; }
      #about .container .price__button .callMe:hover {
        border: 5px solid white;
        background: white; }
        #about .container .price__button .callMe:hover a {
          color: #6997d3;
          font-size: 30px; }

@media (min-width: 320px) and (max-width: 1024px) {
  #about .container {
    flex-direction: column; }
    #about .container .price__button .callMe {
      height: auto;
      line-height: 40px;
      width: 260px; } }
/*-----------------END About-----------------*/
/*----------------Portfolio------------------*/
#portfolio {
  padding: 150px 20px; }
  #portfolio .container {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    #portfolio .container h3 {
      margin-top: 0;
      text-align: center;
      font-family: "PT serif";
      font-weight: 600;
      font-size: 42px;
      color: #000; }
    #portfolio .container .portfolio__block {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; }
      #portfolio .container .portfolio__block .portfolio__block__card {
        max-width: 520px;
        overflow: hidden;
        text-align: center; }
        #portfolio .container .portfolio__block .portfolio__block__card p {
          font-family: "Open Sans";
          font-weight: 500;
          font-size: 20px;
          color: #000; }
        #portfolio .container .portfolio__block .portfolio__block__card img {
          width: 520px;
          height: auto;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;
          -webkit-transform-origin: center !important;
          -moz-transform-origin: center !important;
          -ms-transform-origin: center !important;
          -o-transform-origin: center !important;
          transform-origin: center !important; }
        #portfolio .container .portfolio__block .portfolio__block__card img:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
          cursor: pointer; }
      #portfolio .container .portfolio__block .portfolio__block__btn {
        display: none; }

@media (min-width: 320px) and (max-width: 1024px) {
  #portfolio .container .portfolio__block .portfolio__block__card {
    position: relative; }
    #portfolio .container .portfolio__block .portfolio__block__card img {
      margin-left: -75px; }
    #portfolio .container .portfolio__block .portfolio__block__card .portfolio__block__btn {
      display: block;
      position: absolute;
      z-index: 900;
      width: 100%;
      height: 60px;
      opacity: .7;
      top: 267px;
      background: #6997d3;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      line-height: 60px;
      vertical-align: middle;
      text-align: center;
      margin-top: 20px; } }
/*----------------END Portfolio------------------*/
/*----------------Reviews------------------*/
#review {
  padding: 150px 20px;
  background-color: #e0ecfc; }
  #review .container {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    #review .container .review__title h3 {
      margin-top: 0;
      font-family: "PT serif";
      font-weight: 600;
      font-size: 42px;
      color: #000;
      text-align: center; }

@media (min-width: 320px) and (max-width: 1024px) {
  #review .container .review__block {
    flex-direction: column; } }
/*----------------END Reviews------------------*/
/*----------------Services------------------*/
#services {
  padding: 150px 20px; }
  #services .container {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    #services .container .services__title {
      margin-bottom: 70px; }
      #services .container .services__title h3 {
        margin-top: 0;
        font-family: "PT serif";
        font-weight: 600;
        font-size: 42px;
        color: #000;
        text-align: center; }
      #services .container .services__title .container_h4 {
        max-width: 560px;
        margin: auto; }
        #services .container .services__title .container_h4 h4 {
          font-family: "Open sans";
          font-weight: 300;
          font-size: 24px;
          color: #000;
          text-align: center; }
    #services .container .services__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #services .container .services__block .services__block__card {
        max-width: 360px;
        margin: 30px auto; }
        #services .container .services__block .services__block__card img {
          height: 35px;
          width: 35px;
          float: left;
          margin-right: 16px; }
        #services .container .services__block .services__block__card h4 {
          font-family: "PT serif";
          font-weight: 600;
          font-size: 18px;
          color: #000;
          line-height: 35px;
          margin: 0; }
        #services .container .services__block .services__block__card p {
          font-family: "Open sans";
          font-weight: 300;
          font-size: 16px;
          color: #000;
          margin-top: 12px; }

/*----------------END Services------------------*/
/*----------------Price------------------*/
#price {
  background-color: #e0ecfc;
  padding: 150px 30px; }
  #price .container {
    max-width: 1200px;
    width: 100%;
    margin: auto; }
    #price .container .price__title h4 {
      font-family: "PT serif";
      font-weight: 600;
      font-size: 42px;
      color: #000;
      margin-top: 0;
      text-align: center; }
    #price .container .price__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      #price .container .price__block .price__block__card {
        max-width: 300px;
        border: 1px solid #e0e6ed;
        border-radius: 9px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 40px 30px; }
        #price .container .price__block .price__block__card strong {
          font-family: "PT serif";
          font-weight: 600;
          font-size: 22px;
          color: #000;
          text-align: center;
          margin: 23%; }
        #price .container .price__block .price__block__card p.cost {
          font-family: "PT serif";
          font-weight: 600;
          font-size: 42px;
          color: #000;
          text-align: center; }
        #price .container .price__block .price__block__card p {
          font-family: "Open sans";
          font-weight: 300;
          font-size: 16px;
          color: #000;
          text-align: left; }
        #price .container .price__block .price__block__card ul li {
          font-family: "Open sans";
          font-weight: 300;
          font-size: 16px;
          color: #000; }
    #price .container .price__button {
      display: flex;
      justify-content: center;
      padding: 90px 0 0; }
      #price .container .price__button .callMe {
        display: inline-block;
        width: 480px;
        height: 80px;
        line-height: 80px;
        padding: 8px 10px;
        border: 5px solid #6997d3;
        background: none;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px; }
        #price .container .price__button .callMe a {
          font-family: "PT serif";
          font-weight: 700;
          font-size: 26px;
          color: #6997d3;
          text-decoration: none; }
      #price .container .price__button .callMe:hover {
        border: 5px solid white;
        background: white; }
        #price .container .price__button .callMe:hover a {
          color: #6997d3;
          font-size: 30px; }

@media (min-width: 320px) and (max-width: 1024px) {
  #price .container .price__block .price__block__card {
    margin-bottom: 30px; } }
/*----------------END Price------------------*/
/*-----------------Footer-----------------*/
#mail {
  padding: 150px 5px; }
  #mail .container {
    max-width: 760px;
    margin: 0 auto; }
  #mail .mail__block {
    border: 15px solid #6997d3;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 60px 45px 70px;
    text-align: center; }
    #mail .mail__block h3 {
      font-family: "PT serif";
      font-weight: 600;
      font-size: 38px;
      color: #000;
      margin: 0; }
    #mail .mail__block #messeges {
      font-family: "Open sans";
      font-weight: 300;
      font-size: 22px;
      color: #000; }
    #mail .mail__block form input, #mail .mail__block input:focus {
      outline: none;
      border: none; }
    #mail .mail__block #formMain {
      max-width: 560px;
      margin: 74px auto 0;
      display: flex;
      flex-direction: column;
      /*╨б╤В╨╕╨╗╨╕ ╨┐╨╛╨╗╨╡╨╣ ╨┤╨╗╤П ╨▓╨▓╨╛╨┤╨░*/
      /*╨б╤В╨╕╨╗╨╕ ╨┐╨╛╨╗╨╡╨╣ ╨┐╤А╨╕ ╨║╨╗╨╕╨║╨╡ ╨┐╨╛ ╨╜╨╕╨╝*/
      /*╨б╤В╨╕╨╗╨╕ ╤В╨╡╨║╤Б╤В╨░, ╨▓╤Л╨▓╨╛╨┤╤П╤Й╨╡╨│╨╛╤Б╤П ╨▓ placeholder*/
      /* Firefox 18- */
      /*╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨║╨╜╨╛╨┐╨║╨╕*/ }
      #mail .mail__block #formMain #name,
      #mail .mail__block #formMain #telephone {
        background: none;
        border-bottom: 1px solid #d6d6d6;
        text-align: left;
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #000;
        padding-bottom: 18px;
        margin-bottom: 20px; }
      #mail .mail__block #formMain #name:focus,
      #mail .mail__block #formMain #telephone:focus {
        border-bottom: 1px solid #d6d6d6; }
      #mail .mail__block #formMain ::-webkit-input-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      #mail .mail__block #formMain :-moz-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      #mail .mail__block #formMain :-ms-input-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      #mail .mail__block #formMain ::placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      #mail .mail__block #formMain #btn_mail {
        max-width: 272px;
        height: 56px;
        background: #6997d3;
        border: none;
        border-radius: 30px;
        font-family: "PT serif";
        font-weight: 700;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
        padding-left: 40px;
        padding-right: 40px;
        margin: 10px auto 0; }

@media (min-width: 320px) and (max-width: 1024px) {
  #mail .container .mail__block {
    border: 10px solid #6997d3;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 60px 25px 70px;
    text-align: center; }
    #mail .container .mail__block h3 {
      font-size: 28px; }
    #mail .container .mail__block h4 {
      font-size: 18px; } }
/*-----------------END Footer-----------------*/
/*-----------------Footer-----------------*/
.footer {
  background-color: #e0ecfc;
  width: 100%;
  padding: 180px 0; }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto; }
    .footer .container .phone {
      font-family: "PT serif";
      font-weight: 600;
      font-size: 48px;
      color: #000; }
    .footer .container .mail {
      font-family: "PT serif";
      font-weight: 600;
      font-size: 48px;
      color: #000; }
    .footer .container .text {
      font-family: "Open sans";
      font-weight: 300;
      font-size: 18px;
      color: #000;
      margin-top: 45px;
      margin-bottom: 30px; }
    .footer .container .social {
      display: inline-block;
      position: relative; }
      .footer .container .social img {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out; }
      .footer .container .social img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3); }

@media (min-width: 320px) and (max-width: 1024px) {
  .footer .container .phone {
    font-size: 28px; }
  .footer .container .mail {
    font-size: 28px; }
  .footer .container .text {
    font-size: 18px; } }
/*-----------------END Footer-----------------*/
/* ╨Ю╨║╨╜╨╛ */
.overlay_popup {
  display: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  z-index: 998;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  margin: 100px auto 0 auto;
  max-width: 760px;
  width: 100%; }
  .popup .container {
    max-width: 760px;
    width: 100%;
    background: #fff; }
  .popup .mail__block {
    border: 15px solid #6997d3;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 60px 45px 70px;
    text-align: center; }
    .popup .mail__block h3 {
      font-family: "PT serif";
      font-weight: 600;
      font-size: 38px;
      color: #000;
      margin: 0; }
    .popup .mail__block #messeges {
      font-family: "Open sans";
      font-weight: 300;
      font-size: 22px;
      color: #000; }
    .popup .mail__block form input, .popup .mail__block input:focus {
      outline: none;
      border: none; }
    .popup .mail__block #formMain {
      max-width: 560px;
      margin: 74px auto 0;
      display: flex;
      flex-direction: column;
      /*╨б╤В╨╕╨╗╨╕ ╨┐╨╛╨╗╨╡╨╣ ╨┤╨╗╤П ╨▓╨▓╨╛╨┤╨░*/
      /*╨б╤В╨╕╨╗╨╕ ╨┐╨╛╨╗╨╡╨╣ ╨┐╤А╨╕ ╨║╨╗╨╕╨║╨╡ ╨┐╨╛ ╨╜╨╕╨╝*/
      /*╨б╤В╨╕╨╗╨╕ ╤В╨╡╨║╤Б╤В╨░, ╨▓╤Л╨▓╨╛╨┤╤П╤Й╨╡╨│╨╛╤Б╤П ╨▓ placeholder*/
      /* Firefox 18- */
      /*╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╨║╨╜╨╛╨┐╨║╨╕*/ }
      .popup .mail__block #formMain #name,
      .popup .mail__block #formMain #telephone {
        background: none;
        border-bottom: 1px solid #d6d6d6;
        text-align: left;
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #000;
        padding-bottom: 18px;
        margin-bottom: 20px; }
      .popup .mail__block #formMain #name:focus,
      .popup .mail__block #formMain #telephone:focus {
        border-bottom: 1px solid #d6d6d6; }
      .popup .mail__block #formMain ::-webkit-input-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      .popup .mail__block #formMain :-moz-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      .popup .mail__block #formMain :-ms-input-placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      .popup .mail__block #formMain ::placeholder {
        font-family: "PT serif";
        font-weight: 300;
        font-size: 16px;
        color: #d6d6d6; }
      .popup .mail__block #formMain #btn_mail {
        max-width: 272px;
        height: 56px;
        background: #6997d3;
        border: none;
        border-radius: 30px;
        font-family: "PT serif";
        font-weight: 700;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
        padding-left: 40px;
        padding-right: 40px;
        margin: 10px auto 0; }

/*# sourceMappingURL=style.css.map */
